.places {
  display: flex;
  flex-direction: column;
  width: 76.875%;
  margin: 0 0 5.75rem;
}

@media all and (max-width: 1024px) {
  .places {
    width: 90%;
  }  
}

@media all and (max-width: 768px) {
  .places {
    width: 93.75%;
    margin: 0 0 5.5rem;
  }
}

@media all and (max-width: 640px) {
  .places {
    width: 100%;
    margin: 0 0 4rem;
  }
}