.lead__title {
  max-width: 720px;
  margin: 0 auto 32px;
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
  line-height: 6.25rem;
}

@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin: 0 auto 16px;
  }
}