.place__paragraph {
  margin: 0 0 1.625rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8125rem;
}

.place__paragraph:last-child {
  margin: 0 0 5.375rem 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin: 0 0 1.6875rem;
  }

  .place__paragraph:last-child {
    margin: 0 0 0.4375rem 0;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin: 0 0 1.5625rem 0;
    font-size: 1rem;
    line-height: 1.625rem;
  }

  .place__paragraph:last-child {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 1rem 1.5625rem 1rem;
  }

  .place__paragraph:last-child {
    margin: 0 1rem;
  }
}