.footer__copyright {
  margin: 0 0 1.5rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1rem;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 0.875rem;
  }
}