.intro__text {
  max-width: 690px;
  margin: 0 0 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
}

@media all and (max-width: 768px) {
  .intro__text {
    max-width: auto;
  }
}