.intro {
  max-width: 690px;
  margin: 0 0 5.75rem;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: 90%;
  }
}