.intro {
  max-width: 690px;
  margin-bottom: 5.75rem;
  padding: 0 100px 0;
}

@media screen and (max-width: 1280px) {
  .intro {
    padding: 0 48px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-bottom: 5.5rem;
    padding: 0 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin-bottom: 4rem;
    padding: 0 16px;
  }
}