.cover__title {
  max-width: 560px;
  width: 100%;
  padding: 15.3125rem 0 2rem;
  margin: 0 auto;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.75rem;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .cover__title {
    padding: 12.1875rem 0 2rem;
  }
}

@media screen and (min-width: 768px) {
  .cover__title{
    padding: 7.1875rem 0 2rem;
  }
}

@media screen and (max-width: 767px) {
  .cover__title{
    max-width: 288px;
    padding: 2.0625rem 0 1rem;
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
    padding: 2.0625rem 0 1rem;
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}