.cover__title {
  max-width: 560px;
  width: 100%;
  margin: auto auto 32px;
  font-size: 4.5rem;
  font-weight: 900;
  line-height: 4.75rem;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .cover__title {
    max-width: 250px;
    font-size: 2rem;
    line-height: 2.1875rem;
    margin: auto auto 16px;
  }
}