.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 47% 50%;
  gap: 2.9rem 2.5rem;
}

@media screen and (max-width: 1279px) {
  .place {
    gap: 3rem 2rem;
  }
}

@media screen and (max-width: 1023px) {
  .place {
    gap: 3rem 1.75rem;
  }
}

@media screen and (max-width: 767px) {
  .place {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem 0;
  }
}