.place {
  max-width: 984px;
  display: grid;
  grid-template-columns: 47% 49%;
  gap: 3rem 2.5rem;
}

@media screen and (max-width: 1280px) {
  .place {
    gap: 3rem 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 3rem 1.75rem;
  }
}

@media screen and (max-width: 768px) {
  .place {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem 0;
  }
}