.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem 1.5rem;
}

@media all and (max-width: 768px) {
  .footer {
    margin: 0 1.5rem 1.5rem;
  }
}

@media all and (max-width: 650px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 0 1.5rem 1rem;
  }
}