.footer {
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  padding: 5.75rem 0 0;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .footer {
    padding: 5.75rem 3rem 0;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 5.5rem 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding: 4rem 7.375rem 1.5rem 1rem;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 4rem 7.375rem 1.5rem 1rem;
    flex-wrap: wrap;
  }
}