.footer__column-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer__column-links {
    margin: 0 0 3rem;
    display: grid;
    gap: 2rem;
  }
}