.place__website {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
}

@media screen and (max-width: 320px) {
  .place__website {
    margin: 0 1rem;
  }
}