.intro__title {
  margin: 0 0 2.5rem;
  font-size: 3.375rem;
  font-weight: 900;
  line-height: 3.625rem;
}

@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
    margin: 0 0 2.5rem;
    font-size: 2rem;
    line-height: 2.1875rem;
  }
}